
// common - style
html, body { height: 100%; }
body { margin: 0; font-family: 'Oswald', sans-serif; }

  .acme-logo{
    cursor: pointer;
  }

  .footer-section {
    background-color: #231814;
    color: #ffff;
    text-align: center;
    margin-top: 2%;
    padding: 2%;
  
  
  }
  
  .footer-address {
  
    list-style-type: none;
  }


  // home page 

  